@charset "UTF-8";

.gen-canvas {
  height: 100vh;
  width: 100vw;
}

#gen-form input {
  width: 100px;
}

#gen-card {
  position: relative;
  min-width: var(--card-width);
  min-height: var(--card-height);
  width: var(--card-width);
  height: var(--card-height);
  border-radius: calc(var(--card-width) * .05);
  background: #dfded4;
  user-select: none;
  pointer-events: none;
}

.gen-card-number {
  position: absolute;
  width: calc(var(--card-width)*.5);
  height: calc(var(--card-width)*.5);
  line-height: calc(var(--card-width)*.40);
  margin: calc(var(--card-width)*-.25) 0 0 calc(var(--card-width)*-.25);
  text-align: center;
  vertical-align: middle;
  top: 54%;
  left: 50%;
  font-size: calc(var(--card-width)*.5);
  color: #000;
}

.gen-card-suit {
  position: absolute;
  content: "";
  width: calc(var(--card-width) * .334);
  height: calc(var(--card-width) * .334);
  background: var(--card-suit);
  background-size: contain;
}

.gen-invert {
  rotate: 180deg;
  bottom: 0;
  right: 0;
}