/* GENERAL */

.hidden {
  display: none !important;
}

body {
  background: #ffffff;
  margin: 0;
  overflow: hidden;
}

body,
button {
  font-family: rubik;
  font-weight: 400;
}

/* LANG-MENU */

.egh-langmenu {
  position: absolute;
  display: block;
  background: #dadada;
  padding: 12px;
  border: solid 2px #b4b4b4;
  border-radius: 12px;
  right: 20px;
  top: 65px;
}

.egh-langselbtn {
  content: "";
  background-size: 100% auto;
  width: 40px;
  height: 40px;
  scale: 1;
  transition: 0.125s;
}

.egh-langselbtn:hover {
  scale: 1.1;
  transition: 0.125s;
}

.egh-langselbtn:not(:first-child) {
  margin-top: 10px;
}

.egh-langselbtn[data-language="0"] {
  background-image: url("./assets/img/lang_enus.png");
}

.egh-langselbtn[data-language="1"] {
  background-image: url("./assets/img/lang_eses.png");
}

/* GENERAL-HEADER */

.eg-header {
  display: flex;
  background: linear-gradient(to right, #ccc 0%, #eee 50%, #ccc 100%);
  width: 100%;
  height: 72px;
  margin: 0;
  border-bottom: solid 2px #b4b4b4;
  box-shadow: inset 0px 0px 24px #999, 0px 0px 16px #ccc;
}

.egh-title {
  scale: 1;
  margin: auto;
  margin-right: -100px;
  user-select: none;
  transition: scale 0.625s;
}

.egh-title:hover {
  scale: 1.025;
  transition: scale 0.625s;
}

.egh-title h1 {
  font-family: Tektur;
  font-size: 52px;
  margin: 0;
  font-variant: small-caps;
  color: #565656;
  text-shadow: 0 2px 1px #222, 0 0 8px rgba(0, 0, 0, 0.25);
}

.egh-buttonbox {
  display: flex;
  width: 100px;
  margin: auto;
  margin-right: 16px;
}

.egh-buttonbox button {
  width: 40px;
  height: 40px;
  background: #bbb;
  background-size: 100% auto;
  margin: auto;
  border: 0;
  border-radius: 7px;
  scale: 1;
  transition: background-color 0.125s;
}

.egh-buttonbox button:hover {
  background-color: #ddd;
  scale: 1.05;
  transition: 0.125s;
}

.egh-buttonbox .egh-lightbtn {
  background-image: url("./assets/img/btn_darkmode_light.png");
}

.egh-buttonbox .egh-langbtn {
  background-image: url("./assets/img/btn_lang_light.png");
}

/* GENERAL-CONTENT */

.eg-pagecontent {
  box-sizing: border-box;
  height: calc(100vh - 108px);
}

.eg-pagecontent button {
  font-size: 24px;
  background: #ddd;
  border: 0;
  border-radius: 7px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.7);
  transition: 0.125s;
  width: 280px;
  height: 38px;
  scale: 1;
  color: #222;
}

.eg-pagecontent button:hover {
  background-color: #eee;
  transition: 0.125s;
  font-size: 25px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  scale: 1.025;
  color: #555;
}

.eg-pagecontent button:active {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.7);
  font-size: 21px;
  scale: 0.95;
  transition: 0.03625s;
}

.egc-startupcontainer {
  display: flex;
}

.egc-startupcontainer,
.egc-excusescontainer {
  width: 100%;
  height: 100%;
  margin: 0;
}

#el_startbtn {
  font-size: 48px;
  font-weight: 700;
  margin: auto;
  padding: 8px 32px;
  width: 480px;
  height: 128px;
  scale: 1;
  border-radius: 28px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.7);
  transition: 0.125s;
}

#el_startbtn:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  font-size: 49px;
  scale: 1.025;
  transition: 0.125s;
}

#el_startbtn:active {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.7);
  font-size: 8px;
  transition: 0.03625s;
}

.egc-excusescontainer {
  display: flex;
  flex-direction: column;
}

.egc-title {
  font-size: 18px;
  margin: 32px auto 8px auto;
  user-select: none;
}

.egc-title h1 {
  margin: 0;
}

.egc-excuse {
  color: #000;
  font-family: caveat;
  font-size: 56px;
  margin: 8px auto 24px auto;
}

.egc-excuse::selection,
.egc-excuse *::selection {
  background: #7f3;
  color: #000;
}

.egc-buttonbox {
  display: flex;
  width: 680px;
  margin: 16px auto;
}

.egc-buttonbox button:first-child {
  margin: auto;
  margin-left: 0px;
}

.egc-buttonbox button:last-child {
  margin: auto;
  margin-right: 0px;
}

#el_oldexcuses {
  display: flex;
  flex-direction: column;
  z-index: -32;
}

#el_oldexcuses > .egc-excuse {
  font-size: 46px;
  margin: 0px auto;
  color: #444;
}

.egc-excuse span {
  margin: 0 0.08em;
}

/* GENERAL-FOOTER */

.eg-footer {
  display: flex;
  background: #ccc;
  width: 100%;
  height: 32px;
  margin: 0;
  border-top: solid 2px #b4b4b4;
  box-shadow: 0px 0px 16px #ccc;
  user-select: none;
}

.egf-content {
  margin: auto;
  margin-top: 4px;
}

.egf-content > span {
  font-size: 12px;
  font-weight: bold;
  margin: 0 16px;
  color: #888;
}

/* DARKMODE */

.darkmode .egh-buttonbox button {
  background-color: #151515;
}

.darkmode .egh-buttonbox button:hover {
  background-color: #333;
}

.darkmode .egh-langmenu {
  background: #333;
  border-color: #272727;
}

.darkmode {
  background: #111;
}

.darkmode .eg-header {
  background: linear-gradient(to right, #222 0%, #444 50%, #222 100%);
  border-color: #272727;
  box-shadow: inset 0px 0px 24px #161616, 0px 0px 16px #000;
}

.darkmode .egh-title h1 {
  color: #646464;
  text-shadow: 0 2px 1px #888, 0 0 8px rgba(0, 0, 0, 0.5);
}

.darkmode .eg-footer {
  background: #222;
  border-color: #272727;
  box-shadow: 0px 0px 16px #000;
}

.darkmode .egf-content > span {
  color: #444;
}

.darkmode .egh-lightbtn {
  background-image: url("./assets/img/btn_darkmode_night.png");
}

.darkmode .egh-langbtn {
  background-image: url("./assets/img/btn_lang_night.png");
}

.darkmode .egc-title {
  color: #777;
}

.darkmode .egc-excuse {
  color: #ccc;
}

.darkmode .egc-excuse::selection,
.darkmode .egc-excuse *::selection {
  color: #646;
}

.darkmode #el_oldexcuses > .egc-excuse {
  color: #999;
}

.darkmode .eg-pagecontent button {
  background: #222;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.7);
  color: #888;
}

.darkmode .eg-pagecontent button:hover {
  background-color: #333;
  box-shadow: 0 1px 6px rgba(60, 60, 60, 0.4);
  color: #ccc;
}

.darkmode .eg-pagecontent button:active {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.7);
}
