/* GENERAL */

.no-select { user-select: none; }
.eg-title { font-size: 6em; }
@media screen and (max-width:1600px){.eg-title { font-size: calc(3em + 2vw); }}
@media screen and (max-width:1200px){.eg-title { font-size: calc(1em + 3vw); }}
.eg-title span span { display: inline-block; transition: all .125s; }
.eg-subtitle { text-wrap: balance; }

.eg-location {
  font-size: 4em !important;
  margin: -.2em 0 -.1em 0;
}

.eg-smallcaps { font-variant: small-caps;}

.eg-w-maxcontent {
  width: max-content;
}